@model IEnumerable<SoLienLacDienTu.Models.LamQuenCodeFirst.GiangVien>

@{
    ViewBag.Title = "DanhSachGV";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<h2>DanhSachGV</h2>
<div id="layoutSidenav" style="margin-left:0">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable</div>
                    <div class="card-body">
                        <div class="col-12">
                            <div class="col-2" style="float:left">
                                @using (Html.BeginForm("DanhSachGV", "HomeAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <input type="file" name="file" />
                                    <br />
                                    <input type="submit" value="Import to database" class="btn btn-primary" />
                                }
                            </div>
                            @*<div class="col-2" style="float:left;padding-top:2.3%">
                                <a class="btn btn-primary" href="@Url.Action("ExcelToGiangVien","HomeAdmin")">Export Excel</a>
                            </div>*@
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Mã GV</th>
                                        <th>Tên GV</th>
                                        <th>Password</th>
                                        <th> </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.MaGV
                                            </td>
                                            <td>@item.TenGV</td>
                                            <td>@item.Password</td>
                                            @*<td width="150px"><img style="width:150px; height:150px" src="@Url.Content("~/Content/ImagesProduct/"+item.IMGPath)" /></td>*@


                                            <td>@Html.ActionLink("Edit", "EditTTGV", new { id = item.MaGV })</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @Html.ActionLink("Create New", "TaoTTGV")
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
