
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">ADMIN PAGE</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Choose</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Danh Sách Sinh Viên</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="@Url.Action("DanhSachSV", "HomeAdmin")">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body" style="background:#808080">Danh Sách Giảng viên</div>
                            <div class="card-footer d-flex align-items-center justify-content-between" style="background:#808080">
                                <a class="small text-white stretched-link" href="@Url.Action("DanhSachGV", "HomeAdmin")">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body" style="background:#ff6a00">Quản lý thời khóa biểu</div>
                            <div class="card-footer d-flex align-items-center justify-content-between" style="background:#ff6a00">
                                <a class="small text-white stretched-link" href="@Url.Action("QLTKB", "HomeAdmin")">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body" style="background:#ff0000">Quản lý điểm</div>
                            <div class="card-footer d-flex align-items-center justify-content-between" style="background:#ff0000">
                                <a class="small text-white stretched-link" href="@Url.Action("QLD", "HomeAdmin")">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body" style="background:#051968">Quản lý Lớp Môn</div>
                            <div class="card-footer d-flex align-items-center justify-content-between" style="background:#051968">
                                <a class="small text-white stretched-link" href="@Url.Action("QLLM", "HomeAdmin")">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Quản lý lớp</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="@Url.Action("QLLop", "HomeAdmin")">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

