@model IEnumerable<SoLienLacDienTu.Models.DkMon>
@{
    ViewBag.Title = "DKMonHoc";
    Layout = "~/Views/Shared/_GDSinhVien.cshtml";
    //WebGrid grid = new WebGrid(source: Model, canPage: false);
}

<div>
    @ViewBag.Message1

   
    @Session["b"]
    @Session["s"]
    @Session["x"]
    @Session["y"]

</div>
@Session["xtq"]

@using (Html.BeginForm("DKMonHoc", "SV", FormMethod.Post))
{<div class="portfolio-info">
    <h3>Đăng ký môn học</h3>

    <main>

        <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="margin-bottom:0px">
                            <thead style="background:deepskyblue">
                                <tr>
                                    <th>

                                    </th>
                                    <th>Mã môn</th>
                                    <th>Tên môn</th>
                                    <th>số tín chỉ</th>
                                    <th>Mã lớp</th>
                                    <th>Phòng</th>
                                    <th>Tiết Bắc đầu</th>
                                    <th>Số tiết</th>
                                    <th>Thời gian </th>
                                    <th>Thực hành</th>
                                    <th>Môn tiên quyết</th>

                                    <th>Mã giảng viên</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" value="@item.MaLop " id="ids" name="ids" />

                                            <input type="text" hidden value="@ViewBag.mamon='@item.MaMon'" id="mondachon" name="mondachon" />
                                            <input type="text" hidden value="@item.Montienquyet" id="montq" name="montq" />
                                        </td>
                                        <td>
                                            @item.MaMon
                                        </td>
                                        <td>@item.TenMon</td>
                                        <td>@item.SoTinChi</td>
                                        <td>@item.MaLop</td>
                                        <td>@item.Phong</td>
                                        <td>@item.TietBD</td>
                                        <td>@item.SoTiet</td>
                                        <td>@item.ThoiGianBD.Value.ToString("dd/MM/yyyy") -@item.ThoiGianKT.Value.ToString("dd/MM/yyyy") </td>
                                        <td>@item.TH</td>
                                        <td>

                                            @item.Montienquyet
                                        </td>
                                        <td>@item.MaGV</td>


                                    </tr>
                                }


                            </tbody>

                        </table>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Lưu vào DataBase" class="btn btn-default" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
 
}

