@model IEnumerable<SoLienLacDienTu.Models.SVXemDiem>
@{
    ViewBag.Title = "XemTKB";
    Layout = "~/Views/Shared/_GDSinhVien.cshtml";
}
<style>
    /* Style The Dropdown Button */
    .dropbtn {
        background-color: #808080;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>
<div class="portfolio-info">
    <h3>Thông Tin Thời Khóa Biểu</h3>

    @Html.ViewBag.chuahoc
    <div style="width:100%">

        <div class="col-lg-12" style="padding-left:0px;padding-right:0px">
            @*<div class="col-lg-12 " style="background:rgba(0, 0, 0, 0.72);color:white;padding:0px">
                <span style="padding-left:7%" id="ctl00_ContentPlaceHolder1_ctl00_lbltieudetkb" class="Label"></span>

            </div>*@

        </div>
        <div style=" background:white;padding-left:15px">


            <table>
                <tbody>
                    <tr id="ctl00_ContentPlaceHolder1_ctl00_pnlTTCanhan">
                        <td colspan="2">
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="3" width="80px" height="65px">
                            <img src="~/Images/icon_lich.png" / style="padding-right:10px">
                        </td>
                        <td align="left" valign="top">
                            <span id="ctl00_ContentPlaceHolder1_ctl00_lblTT" class="Label" style="font-size:10pt;height:20px">Chọn học kỳ xem TKB</span>&nbsp;

                            @*<div class="dropdown">
            <button class="dropbtn">Học kỳ 2 - Năm học 2019-2020</button>
            <div class="dropdown-content">
                <a href="#">Học kỳ 1 - Năm học 2019-2020</a>
                <a href="#">Học kỳ 3 - Năm học 2018-2019</a>

            </div>
        </div>*@
                            @using (Html.BeginForm("XemTKB", "SV", FormMethod.Post))
                            {
                                <select @*name="dropdown" id="myID"*@ id="ddlselect" onChange="ddlselect();" class="DropDown" name="idhk" @*multiple*@ style="width:300px;">

                                    @{
                                        for (int i = 1; i <= 2; i++)
                                        {
                                            <option onchange="validateSelectBox(this)" value="@i">Học kỳ @i </option>

                                        }
                                    }
                                </select>
                                <input type="submit" name="submit" value="Xem học kỳ" />
                            }
                        </td>
                    </tr>
                        <tr>
                            <td align="left" class="style1" style="font-size: 10pt;height:20px">
                                <div class="dropdown">
                                    <button class="dropbtn">Thoi khoa bieu </button>
                                    <div class="dropdown-content">
                                        <a href="~/SV/TKBTuanSV">TKB theo tuan</a>
                                        <a href="#">TKB-Hoc ky ca nhan</a>
                                    </div>
                                </div>


                                @*<div class="dropdown " >
                                    <button class="dropbtn">Tuan</button>
                                    <div class="dropdown-content">
                                        <a></a>*@
                                @*@foreach (var m in Model)
                                    {
                                        DateTime ngaybd = Convert.ToDateTime(m.TKBDetail.ThoiGianBD);
                                        DateTime ngaykt = Convert.ToDateTime(m.TKBDetail.ThoiGianKT);
                                        DateTime ngaythem = Convert.ToDateTime("07/07/2020");
                                        TimeSpan Time = ngaykt - ngaybd;
                                        TimeSpan time1 = ngaybd - ngaythem ;

                                        int TongSoNgay = Time.Days;
                                        int ngayktt = time1.Days;


                                        if (m.TKBDetail.MaMon == "ADENG2")
                                        {


                                            for (int i = 1; i < (TongSoNgay / 7); i++)
                                            {
                                                TimeSpan a = new TimeSpan(168, 00, 00);
                                                DateTime dt = ngaybd + a;

                                                //KT1 = m.TKBDetail.ThoiGianBD + KT;
                                                    <a href="#">Tuần @i [Từ  @ngaybd.ToString("dd/MM/yyyy")-- Đến @dt.ToString("dd/MM/yyyy")]</a>// đoạn nayf dể lay cai ngay bat dau
                                                     ngaybd = dt;


                                            }
                                        }


                                    }*@






                                @*</div>
                                    </div>*@


                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <span id="ctl00_ContentPlaceHolder1_ctl00_lblNote2" class="Label">Đối với học phần Đồ án, sinh viên xem lịch làm đồ án trên website Khoa quản lý.</span>
                                <br>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>


            <span style="padding-left:40%;font-size:25px">THỜI KHÓA BIỂU</span>
            <table cellspacing="0" cellpadding="0" class="title-table" style="border-color:black;border-width:1px;border-style:Solid;height:100%;width:100%;border-collapse:collapse;background:#54b9f7">
                <tbody>
                    <tr align="center">

                        <td width="13%" style="color:White;background-color:#6699CC;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                            <span id="ctl00_ContentPlaceHolder1_ctl00_lblMaMH" title="Mã Môn Học" class="Label">Mã MH</span>
                        </td>
                        <td width="36%" style="color:White;background-color:#6699CC;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                            <span id="ctl00_ContentPlaceHolder1_ctl00_lblTenMH" title="Tên Môn Học" class="Label">Tên MH</span>
                        </td>
                        <td width="5%" style="color:White;background-color:#6699CC;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                            <span id="ctl00_ContentPlaceHolder1_ctl00_lblTTH" title="Thực Hành" class="Label">TH</span>
                        </td>
                        <td width="5%" style="color:White;background-color:#6699CC;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                            <span id="ctl00_ContentPlaceHolder1_ctl00_lblThu" title="Thứ" class="Label">Thứ</span>
                        </td>
                        <td width="5%" style="color:White;background-color:#6699CC;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                            <span id="ctl00_ContentPlaceHolder1_ctl00_lblTBD" title="Tiết Bắt Đầu" class="Label">Tiết BD</span>
                        </td>
                        <td width="5%" style="color:White;background-color:#6699CC;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                            <span id="ctl00_ContentPlaceHolder1_ctl00_lblST" title="Số Tiết" class="Label">ST </span>
                        </td>
                        <td width="7%" style="color:White;background-color:#6699CC;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                            <span id="ctl00_ContentPlaceHolder1_ctl00_lblPhong" title="Phòng Học" class="Label">Phòng</span>
                        </td>
                        <td width="12%" style="color:White;background-color:#6699CC;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                            <span id="ctl00_ContentPlaceHolder1_ctl00_lblCBGD" class="Label">MaGV</span>
                        </td>
                        <td width="15%" style="color:White;background-color:#6699CC;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                            <span id="ctl00_ContentPlaceHolder1_ctl00_lblTuan" class="Label">Thời gian học</span>
                        </td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        if( item.TKBDetail.Nam == @DateTime.Now.Year)
                        {
                        if (item.TKBDetail.HocKy == Convert.ToInt32(Session["hkid"]) )
                        {
                            <tr align="center" style="background:white;height:25px">
                                <td style="color:Black;height:25px;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                                    @item.TKBDetail.MaMon

                                </td>
                                <td style="color:Black;height:25px;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                                    @item.TKBDetail.TenMon
                                </td>
                                <td style="color:Black;height:25px;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                                    @item.TKBDetail.TH
                                </td>
                                <td style="color:Black;height:25px;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                                    @item.TKBDetail.Thu
                                </td>
                                <td style="color:Black;height:25px;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                                    @item.TKBDetail.TietBD
                                </td>
                                <td style="color:Black;height:25px;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                                    @item.TKBDetail.ST
                                </td>
                                <td style="color:Black;height:25px;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                                    @item.TKBDetail.Phong
                                </td>
                                
                                <td style="color:Black;height:25px;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                                    @item.TKBDetail.MaGV
                                </td>
                                <td style="color:Black;height:25px;border-width:1px;border-style:solid;font-size:11px;height:18px;width:25px;white-space:nowrap;">
                                    @item.TKBDetail.ThoiGianBD.Value.ToString("dd/MM/yyyy") -   @item.TKBDetail.ThoiGianKT.Value.ToString("dd/MM/yyyy")

                                </td>


                            </tr>
                            }
                            else
                            {


                            }
                        }

                    }
                </tbody>
            </table>

        </div>
</div>

